---
import Base from "../../layouts/Base.astro"
//definimos la forma que tendran los posts en markdown
interface Post {
    frontmatter: {
       title: string,
       date: string, 
    }
}

//importamos todos los .md de la carpeta actul, con eager: true
const posts = import.meta.glob<Post>("./*.md",{eager:true});


//convertimos el objeto en un array con la info que necesitamos

const lista = Object.entries(posts).map(([ruta,mod])=>({
    url: ruta.replace("./","blog/").replace(".md","/"),
    title:mod.frontmatter?.title?? "sin titulo",
    date:mod.frontmatter?.date ?? ""
}));

//(Opcional) ordenamos los posts por fecha(mas reciente primero)
lista.sort((a,b) => new Date(b.date).getTime() - new Date(a.date).getTime());

---

<Base title="Blog">
    <h2>Publicaciones</h2>
    <ul>
        {lista.map((post)=>(
            <li>
                <a href={post.url}>{post.title}</a>
                {post.date && <small> - {post.date}</small>}
            </li>
        ))}
    </ul>
</Base>