---
import Base from "../layouts/Base.astro";
---

<Base title="Nosotros - Mafenet">
    <h2>Quienes somos</h2>
    <p>ConectaNet es un proveedor de Internet con más de 10 años en el mercado,
        brindando soluciones de conectividad a hogares y negocios.</p>
    <p>Nuestro compromiso es ofrecer estabilidad, velocidad y soporte técnico personalizado.</p>
</Base>

