---
import Base from "../layouts/Base.astro"
---

<Base title="Contacto - Mafenet">
    <h2>Contactanos</h2>
    <form>
        <label>Nombre:</label><br/>
        <input type="text" name="name" /> <br/><br/>
        <label>Email:</label><br/>
        <input type="email" name="email" /> <br/><br/>
        <label>Mensaje</label><br/>
        <textarea name="mensaje"></textarea><br/><br/>

        <button type="submit">Enviar</button>
    </form>
</Base>