---
import Base from "../layouts/Base.astro";
import PlanList from "../components/plan/PlanList";
---
<Base title="Planes de internet - Mafenet">
  <h2>Nuestros planes</h2>
  <PlanList client:load />
</Base>