---
const {nombre,precio,velocidad} = Astro.props
---

<div class="card">
    <h3>{nombre}</h3>
    <p><strong>Velocidad:</strong> {velocidad}</p>
    <p><strong>Precio:</strong> {precio} /mes</p>
</div>
