---
import Base from "../../../layouts/Base.astro";
import EditarPlan from "../../../components/plan/editarPlan";
---
<Base title="Admin - Planes">
  <h2>Panel administrativo — Planes</h2>
  <EditarPlan client:load />
</Base>